*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --yellow: #EDEC51;
  --black: #000000;
}

body{
  font-family: Poppins, sans-serif;
  background-color: #151515;
}

header{
  position: relative;
}

.menu{
  position: absolute; 
  top: 0; 
  right: 0;
  z-index: 100;
}

.menu a:hover{
  text-decoration: none;
}

.menu li{
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 3px var(--black);
  color: var(--yellow);
  padding: 30px 40px 0 0;
  list-style: none;
}

.burger-menu{
  color: var(--yellow)!important;
}

.uk-offcanvas-bar{
  width: 200px !important;
}

#slider-text{
  margin: 0;
  max-width: 100%;
}

#slider-text h3{
  font-size: 24px;
  font-weight: 700;
  color: var(--yellow);
  text-shadow: 3px 3px var(--black);
}

.slider-controller{
  color: var(--yellow)!important;
}

.title-section{
  color: var(--yellow);
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 3px var(--black);
}

.synopsis{
  background-image: url('/assets/images/bg-section.jpg');
  background-repeat: no-repeat;
  padding: 60px 0;
}

.synopsis p{
  color: var(--yellow);
  font-size: 24px;
  text-shadow: 3px 3px var(--black);
}

.characters{
  padding: 60px 0;
}

.cards{
  flex-wrap: wrap;
}

.card-character{
  margin: 0px 10px;
  box-shadow: 0 0 1em #000;
}

.card-character img{
  width: 180px;
  height: 180px;
}

#card-character-text{
  color: var(--yellow);
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}

.video{
  background-image: url('/assets/images/bg-section.jpg');
  padding: 60px 0;
}

footer{
  padding: 30px 0;
}

footer p{
  margin: 0;
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  text-shadow: 3px 3px var(--black);
}

@media(max-width: 639px){
  .menu li{
    font-size: 20px;
    padding: 26px 40px 0 0;
  }
  .card-character img{
    width: 120px;
    height: 120px;
  }
  .card-character{
    margin: 10px 10px;
  }
  .title-section {
    font-size: 40px;
  }
  .synopsis p {
    font-size: 20px;
  }
}